
#meus-filmes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ul{
  padding: 0;
}

ul li{
  padding: 0;
  list-style: none;
  min-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

span{
  font-size: 23px;
}

button{
  margin-left: 15px;
}

ul li div a{
  text-decoration: none;
  color: red;
  font-size: 18px;
}